Exercise07/src/ej_schema_26/pkg4/Exercise07.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
    
    <xs:element name="factura">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="datos_empresa">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string" minOccurs="1" maxOccurs="unbounded"></xs:element>
                            <xs:element name="dir" type="xs:string" minOccurs="1" maxOccurs="unbounded"></xs:element>
                            <xs:element name="poblacion" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="cod_postal" use="required">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:positiveInteger">
                                                        <xs:totalDigits value="5"/>
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>   
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="provincia" type="xs:string" minOccurs="1" maxOccurs="unbounded"></xs:element>
                            <xs:element name="cif" type="xs:string" minOccurs="1" maxOccurs="unbounded"></xs:element>
                            <xs:element name="telefono" minOccurs="0" maxOccurs="1" type="xs:int" fixed="917776688"/>
                            <xs:element name="fax" minOccurs="0" maxOccurs="1" type="xs:int" fixed="917776699"/>   
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="datos_cliente">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"></xs:element>
                            <xs:element name="dir_env" type="xs:string"></xs:element>
                            <xs:element name="poblacion">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="cod_postal" use="required">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:positiveInteger">
                                                        <xs:totalDigits value="5"/>
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>   
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="provincia" type="xs:string"></xs:element>
                        </xs:sequence>
                        <xs:attribute name="n_cli" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:positiveInteger">
                                    <xs:totalDigits value="4"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="datos_factura">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="fecha" type="xs:date"></xs:element>
                            <xs:element name="linea" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ref">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="5"></xs:minLength>
                                                    <xs:maxLength value="15"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="desc">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"></xs:minLength>
                                                    <xs:maxLength value="100"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="cant" type="xs:int"></xs:element>
                                        <xs:element name="precio" >
                                            <xs:simpleType>
                                                <xs:restriction base="xs:decimal">
                                                    <xs:totalDigits value="5"/>
                                                    <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="importe">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:decimal">
                                                    <xs:totalDigits value="7"/>
                                                    <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="base">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="7"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="cuota_iva">
                                <xs:simpleType>
                                    <xs:restriction base="xs:positiveInteger">
                                        <xs:totalDigits value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            
                            <xs:element name="total" >
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="7"/>
                                        <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="n_ped" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:positiveInteger">
                                    <xs:totalDigits value="4"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="iva"  use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:positiveInteger">
                                    <xs:totalDigits value="2"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="f_pago" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="tarjeta"></xs:enumeration>
                                    <xs:enumeration value="efectivo"></xs:enumeration>
                                    <xs:enumeration value="a plazos"></xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="moneda" type="xs:string" use="required" fixed="euro"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="n_fac" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:totalDigits value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
